beautifulsoup4 == 4.9.3
colorama == 0.4.4
comtypes == 1.1.10
Cython == 0.29.22
openpyxl == 3.0.7
pdf2image == 1.14.0
platformdirs == 2.2.0
pyowm == 3.2.0
PyPDF2 == 1.26.0
pypiwin32 == 223
requests == 2.26.0
